^{:watch-dirs ["src/popup"]}
{:output-to     "resources/unpacked/compiled/popup/main.js"
 :output-dir    "resources/unpacked/compiled/popup"
 :asset-path    "compiled/popup"
 :preloads      [devtools.preload figwheel.core figwheel.main figwheel.repl.preload]
 :main          chromex-sample.popup
 :optimizations :none
 :source-map    true}

